@model List<MVC.Models.BookModel>
@{
    ViewData["Title"] = "BookList";
}

<h1>Book List</h1>

<div class="books">


    @foreach (var book in Model)
    {
        <div class="book">
            <h1>@book.BookTitle</h1>
            <h2>@book.Author</h2>
            <p>@book.Year</p>
            @for (int i = 1; i <= 5; i++)
            {
                if (book.Rating.HasValue && i <= book.Rating.Value)
                {
                    <span style="color: gold;">&#9733;</span> <!-- Gold star -->
                }
                else
                {
                    <span style="color: lightgray;">&#9734;</span> <!-- Empty star -->
                }
            }
            <p>@(book.HaveRead ? "Read" : "Not read")</p>
        </div>
    }

</div>

<div class="book-info">
    @await Html.PartialAsync("_BookCount", (int)ViewBag.BookCount)

    @if (ViewBag.AverageRating != null)
    {
        <h3>Average Rating: @ViewBag.AverageRating</h3>
    }

</div>